
<h1 class="big-heading">Where Beer</h1>

<div class="login-form">
<h1 class="medium-heading">Login</h1>
<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <md-input-container class="example-full-width">
                <input mdInput placeholder="Username">
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
            <md-input-container class="example-full-width">
                <input type="password" mdInput placeholder="Password">
            </md-input-container>
        </td>
    </tr>
    <tr><button md-button>Submit</button></tr>
  </table>
</form>
</div>